<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>RealityFrame AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="hero">

    <h1>RealityFrame AI</h1>

    <p>
        Your AI-powered Visual Memory Assistant
    </p>

    <div class="buttons">

        <button>Launch Camera</button>

        <button>View Memories</button>

    </div>

</div>

<div class="features">

    <div class="card">

        🤚
        <h2>Hand Tracking</h2>

        <p>
            Detect hands and count fingers in real time.
        </p>

    </div>

    <div class="card">

        🧠

        <h2>AI Vision</h2>

        <p>

            Gemini automatically understands captured memories.

        </p>

    </div>

    <div class="card">

        🔍

        <h2>Smart Search</h2>

        <p>

            Search memories using natural language.

        </p>

    </div>

    <div class="card">

        ⭐

        <h2>Favorites</h2>

        <p>

            Save your important memories.

        </p>

    </div>

</div>

</body>

</html>